



body {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ff6;
  font-family: 'News Cycle', sans-serif;
}

.choose {
  display: none;
  text-align: center;
  font-size: 3.25rem;letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}


.stage {
  width: 80vw;
  height: 80vh;
  margin-top: 50px;
  border-top: 12px solid rgba(255, 255, 255, 0.6);
  border-right: 12px solid rgba(255, 255, 255, 0.2);
  border-left: 12px solid rgba(255, 255, 255, 0.4);
  border-bottom: 12px solid rgba(255, 255, 255, 0.25);
}

.fade-in-now {
  opacity: 0;
  -webkit-animation: appearNow;
  -moz-animation: appearNow;
  animation: appearNow;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes appearNow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.hero-logo {
  z-index: 100;
  position: absolute;
  display:flex;
  opacity: 0;
  width: 130%;
  height: auto;
  margin-top: -5%;
  -webkit-animation: disappear;
  -moz-animation: disappear;
  animation: disappear;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    width: 0;
    height: auto;
    margin-top: 25%;
    opacity: 1;
  }
}

.home-btn {
  position: absolute;
  top: 14vh;
  right: 12vw;
  width: 100px;
  height: auto;
}

.button-box {
  position: relative;
}

#logo {
  width: 100%;
}

#falcon-logo {
  position:absolute;
  top: -29px;
  left:-28px;
  width: 145%;
}

#falcon-logo:hover {
  top: -31px;
  left:-30px;
  width: 150%;
}


.home-btn:hover {
  cursor: pointer;
}

.main-poster-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 6vh;
}

.fade-in {
  opacity: 0;
  -webkit-animation: appear;
  -moz-animation: appear;
  animation: appear;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.poster {
  width: 100%;
  border-top: 4px solid rgba(255, 255, 255, 0.5);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid rgba(255, 255, 255, 0.4);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
}

.poster-div {
  width: 200px;
  height: 300px;
  min-width: 100px;
  min-height: 150px;
  margin: 10px;
}

.poster:hover {
  width: 220px;
  height: 330px;
  cursor: pointer;
  transform: translate(-10px, -15px);
}



/* ====================== TRAILER PAGE STYLING ============================== */


iframe #trailer-star-wars {
  display: none;
}

iframe #trailer-strike-back {
  display: none;
}

iframe #trailer-jedi {
  display: inherit;
}

#trailer-phantom {
  display: none;
}

#trailer-attack {
  display: none;
}

#trailer-revenge {
  display: none;
}

#trailer-awakens {
  display: none;
}

#trailer-last-jedi {
  display: none;
}

#trailer-rise {
  display: none;
}

/* ============================  FACT PAGE STYLING  ============================= */


#fact-page-complete-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 80vh;
}

.fact-page-logo {
  top: 18vh;
}

#fact-page-poster-info-flex-container {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fact-page-poster-div {
  width: 20vw;
  height: auto;
  min-width: 100px;
  min-height: 150px;
}

#current-poster.poster:hover {
  width: inherit;
  height: inherit;
  cursor: initial;
  transform: translate(0, 0);
}

#fact-page-information-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40vw;
  height: 60vh;
  color: #ffffff;
}

.text-box {
  padding: 10px 0;
  text-align: center;
}

.fact-page-title {
  align-self: flex-start;
  font-size: 3rem;
  font-weight: 900;
  width: 35vw;
}

.fact-page-overview {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}

#home-page-url {
  text-decoration: none;
  color: #ffffff;
}

.fact-page-homepage {
  margin-top: auto;
}

#home-page-url:hover {
  color: #ff6;
}

#fact-page-button-container {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin-bottom: 3vh;
}

.fact-page-button {
  width: 20vw;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.fact-page-button:hover {
  background-color: rgba(250, 250, 4, 0.4);
}


/* ================= PEOPLE PAGE STYLING ================= */

.people-page-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#people-page-content-container {
  position: relative;
}
#people-page-content-container div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 20px;
  transform: translateX(-50%);
}

/* ================= STARSHIP PAGE STYLING ================== */


/* =================== MEDIA QUERIES ======================== */

@media only screen and (max-width: 1024px){

 
@media only screen and (max-width: 600px){

  .hero-logo {
    z-index: 100;
    position: absolute;
    display:flex;
    opacity: 0;
    width: 130%;
    height: 110%;
    margin-top: -5%;
    transition-timing-function: ease-in;
    -webkit-animation: disappear;
    -moz-animation: disappear;
    animation: disappear;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  
  @keyframes disappear {
    0% {
      opacity: 1;
    }
  
    100% {
      width: 0;
      height: 0;
      margin-top: 25%;
      opacity: 1;
    }
  }

  .stage {
    width: 89vw;
    height: 82vh;
    margin-top: 16px;
    border-top: 8px solid rgba(255, 255, 255, 0.6);
    border-right: 8px solid rgba(255, 255, 255, 0.2);
    border-left: 8px solid rgba(255, 255, 255, 0.4);
    border-bottom: 8px solid rgba(255, 255, 255, 0.25);
  }
  
  .choose {
    display: inherit;
  }

  #falcon-logo:hover {
    top: -33px;
    left:-32px;
    width: 160%;
  }
  
  .main-poster-container {
    display:initial;
    width: 100vw;
    height: 100vh;
    margin: 3vh;
  }
  
  .poster-div {
    width: 90vw;
    height: calc(90vw * 1.5);
    margin: 20px auto;
  }
  
  .poster:hover {
    width: inherit;
    height: inherit;
    cursor: initial;
    transform: translate(0, 0);
  }
  /* ======= fact page ======= */
  
  #fact-page-complete-content {
    display: initial;
    width: 80vw;
    height: 80vh;
  }
  
  .fact-page-logo {
    top: 13vh;
    right: 16vw;
  }
  
  #fact-page-poster-info-flex-container {
    display: initial;
  }
  
  .fact-page-poster-div {
    margin: 2vh 0 0 4vw;
    width: 35vw;
    height: auto;
  }
  
  #fact-page-information-container {
    display: initial;
    width: 40vw;
    height: 60vh;
  }
  
  
  .fact-page-title {
    font-size: 2.8rem;
    font-weight: 900;
    width: 88vw;
    margin-left:auto;
    margin-right: auto;
  }
  
  .fact-page-overview {
    font-size: 1rem;
    line-height: 1.35rem;
    padding: 12px;
  }
  
  #home-page-url {
    font-size: .8rem;
    padding: 0 5px;
  }
  
  #fact-page-button-container {
    position: absolute;
    width: 90vw;
    top:80vh;
    left:auto;
    right:auto;
  }
  
  .fact-page-button {
    width: 13vw;
    letter-spacing: 1px;
    font-size: .6rem;
  }

}

@media only screen and (max-width: 370px){

.hero-logo {
  z-index: 100;
  position: absolute;
  display:flex;
  opacity: 0;
  width: 130%;
  height: auto;
  margin-top: -5%;
  -webkit-animation: disappear;
  -moz-animation: disappear;
  animation: disappear;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    width: 1px;
    height: 1px;
    margin-top: 25%;
    opacity: 1;
  }
}

.fact-page-poster-div {
  margin: 2vh 0 0 4vw;
  width: 30vw;
  height: auto;
}

.fact-page-year {
  font-size: .8rem;
}

.fact-page-title {
  font-size: 2rem;
}  

.fact-page-overview {
  font-size: .75rem;
  line-height: 1rem;
}

#home-page-url {
  font-size: .6rem;
  line-height: 5px;
}
  
}
