



body {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ff6;
  font-family: 'News Cycle', sans-serif;
}


.stage {
  width: 80vw;
  height: 80vh;
  margin-top: 50px;
  border-top: 12px solid rgba(255, 255, 255, 0.6);
  border-right: 12px solid rgba(255, 255, 255, 0.2);
  border-left: 12px solid rgba(255, 255, 255, 0.4);
  border-bottom: 12px solid rgba(255, 255, 255, 0.25);
}

.fade-in-now {
  opacity: 0;
  -webkit-animation: appearNow;
  -moz-animation: appearNow;
  animation: appearNow;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes appearNow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.hero-logo {
  z-index: 100;
  position: absolute;
  display:flex;
  opacity: 0;
  width: 120%;
  height: auto;
  margin-top: -5%;
  -webkit-animation: disappear;
  -moz-animation: disappear;
  animation: disappear;
  /* -webkit-animation-delay: 250ms; */
  /* -moz-animation-delay: 250ms; */
  /* animation-delay: 250ms; */
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#logo {
  width: 100%;
}


@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    width: 0;
    margin-top: 25%;
    opacity: 1;
  }
}

.home-btn {
  position: absolute;
  top: 12vh;
  right: 12vw;
  width: 100px;
  height: auto;
}

.home-btn:hover {
  cursor: pointer;
}

.main-poster-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.fade-in {
  opacity: 0;
  -webkit-animation: appear;
  -moz-animation: appear;
  animation: appear;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.poster {
  width: 100%;
  border-top: 4px solid rgba(255, 255, 255, 0.5);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid rgba(255, 255, 255, 0.4);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
}

.poster-div {
  position: absolute;
  width: 15vw;
  height: calc(15vw * 1.5);
  min-width: 100px;
  min-height: 150px;

}

.poster-div:hover {
  width: 17vw;
  height: calc(17vw * 1.5);
  cursor: pointer;
  transform: translate(-10px, -30px);
  z-index: 500;
}


.poster1-container {
  top:6.25vh;
  left: 3.42vw;
}


.poster2-container {
  top: 6.25vh;
  left: 23.33vw;
}

.poster3-container {
  top: 6.25vh;
  left: 42.5vw;
}

.poster4-container {
  top: 6.25vh;
  left: 61.67vw;
}

.poster5-container {
  top: 6.25vh;
  left: 80.83vw;
}

.poster6-container {
  top: 53vh;
  left: 8vw;
}

.poster7-container {
  top: 53vh;
  left: 31vw;
}

.poster8-container {
  top: 53vh;
  left: 54vw;
}

.poster9-container {
  top: 53vh;
  left: 77vw;
}




/* ================ CENTERING FOR LARGE FOCUS DIV =============== */

/* .FOCUS DIV{
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 15vw;
  height: calc(15vw * 1.5);
  min-width: 100px;
  margin: auto;


  top:50%;
  left: 50%;
  width: auto;
  height: 75vh;
  min-width: 100px;
  background-color: orange;
  transform: translateX(-50%);
  transform: translateY(-50%);
} */

/* ====================== TRAILER PAGE STYLING ============================== */


iframe #trailer-star-wars {
  display: none;
}

iframe #trailer-strike-back {
  display: none;
}

iframe #trailer-jedi {
  display: inherit;
}

#trailer-phantom {
  display: none;
}

#trailer-attack {
  display: none;
}

#trailer-revenge {
  display: none;
}

#trailer-awakens {
  display: none;
}

#trailer-last-jedi {
  display: none;
}

#trailer-rise {
  display: none;
}

/* ============================  FACT PAGE STYLING  ============================= */


#fact-page-complete-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 80vh;
  /* background-color: blue; */
}

#fact-page-poster-info-flex-container {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fact-page-poster-div {
  width: 20vw;
  /* height: calc(25vw * 1.5); */
  height: auto;
  min-width: 100px;
  min-height: 150px;
  /* background: 1px solid white; */
}

#fact-page-information-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40vw;
  height: 50vh;
  color: #ffffff;
  /* border: 1px solid white; */
}

.text-box {
  padding: 10px 0;
  text-align: center;
  /* border: 1px solid white; */
}

.fact-page-title {
  font-size: 3rem;
  font-weight: 900;
}

.fact-page-year {

}

.fact-page-overview {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}

#home-page-url {
  text-decoration: none;
  color: #ffffff;
}

.fact-page-homepage {
  margin-top: auto;

}

#fact-page-button-container {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin-bottom: 3vh;
}

.fact-page-button {
  width: 20vw;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.fact-page-button:hover {
  background-color: rgba(250, 250, 4, 0.4);
}


/* ================= PEOPLE PAGE STYLING ================= */





/* ================= STARSHIP PAGE STYLING ================== */